.users-container {
    display: flex;
    flex: 1;
    background: white;
    overflow: auto;

    table {
        background: white;
    }

    .context-icon {
        color: #c1c1c1;
        margin: 0 4px;
        cursor: pointer;

        &.primary {
            color: #215795;
        }
    }
}
