//need so scope css
.role-column {
    flex-basis: 25rem;
}

.permission-column {
    flex: 1;
    overflow: auto;
}

.role-columns {
    display: flex;
    flex: 1;
}

.role-item {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    min-height: 50px;
    color: #4C91E3;
    border-bottom: thin solid #EDF1F6;
    padding: 10px;

    &.selected {
        background-color: #E4EFFB;
        border: thin solid #4A90E2;
    }
}

.column-items {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}