$pastelGreen: #8AD38A;
$red: #d43f3a;

.access-right {
    padding: 7px 7px 7px 7px;
    border-radius: 50%;
    color: white;
    margin: 4px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    background-color: $red;

    &:hover {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
        background-color: lighten($red, 10%);
    }

    &.selected {
        background-color: $pastelGreen;

        &:hover {
            background-color: lighten($pastelGreen, 10%);
        }
    }
}